.App {
  text-align: center;
}

body {
  background-color: #c4d8ee;
}

.Title {
  background-color: #912723;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Listing {
  background-color: #c4d8ee;
  min-height: 8vh;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: black;
}

.Listing form div {
  display: flex;
  flex-direction: column;
}

.Listing form div input {
  margin-bottom: 5px;
}

.Listing form div button {
   box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
   display: block;
   padding: 3%;
   text-align: center;
   background: #912723;
   font-size: calc(10px + 1vmin);
   color: white;
   margin: 10px;
   cursor: pointer;
}

.Items {
  background-color: #c4d8ee;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.ItemList {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 10px;
  margin: 10%;
  font-size: 15px;
  color: black;
}

img {
  background-color: white;
  width: 100px;
  height: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
